@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
:root{
    --cor-primaria: #2C3639; 
    --cor-secundaria: #DCD7C9;
    --cor-terciaria: #A27B5C; 
    --cor-hover: #3F4E4F;
}

*{
    margin: 0;
    padding: 0; 
    
}
body{ 
    background-color:  var(--cor-primaria); 
    color: var(--cor-secundaria); 
    box-sizing: border-box;

} 
.titulo-destaque{
    color: var(--cor-terciaria);
}  
.apresentacao{ 
    margin: 5%  15%;
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    gap: 40px; 

} 
.apresentacao__conteudo{
    width: 50%; 
    display: flex; 
    flex-direction: column; 
    gap: 40px; 

} 
.titulo{
    font-size: 2.25rem; 
    font-family:'Krona One', sans-serif; ;
} 
p{
    font-size:1.5rem; 
    font-family: 'Montserrat', sans-serif;
} 
.subtitulo{
    font-family: 'Krona One', sans-serif; 
    font-weight: 400; 
    font-size: 1.5rem;
}
.botao{ 
    display: flex;
    justify-content: space-between; 
    flex-direction: column; 
    align-items: center; 
    gap: 32px;  
    
} 
.link{
    background-color: transparent ;
    width: 50%;  
    text-align: center;
    border-radius: 8px; 
    font-size: 1.5rem; 
    padding: 21.5px 0; 
    text-decoration: none; 
    color: #F6F6F6;  
    font-family: 'Montserrat', sans-serif; 
    font-weight: 600; 
    border: 2PX solid var(--cor-terciaria); 
    display: flex; 
    justify-content: center; 
    gap: 16px;
    
} 
img{
    border-radius: 20px;  
    margin-top: 0;
} 
.link:hover{
    cursor: pointer; 
    background-color: var(--cor-hover);
}

.pe{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px; 
    text-align: center; 
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem; 
    font-weight: 400; 
} 
.cabeca{  
    font-family: 'Montserrat', sans-serif ; 
    font-weight: 600; 
    font-size: 1.5rem;  
    gap: 25px; 
    padding: 2% 0% 0% 15%; 
    text-decoration: none;  
} 
.linkcabeca{
    display: flex; 
    gap: 80px;  
}  
.linkA{
    text-decoration: none; 
    color: var(--cor-terciaria);
}  
.apresentacao1{ 
    margin: 5%  15%;
    display: flex; 
    align-items: center;
    justify-content: space-between;  
    height: 70vh;

}  
 
.imagem{
    width: 50%;
} 

@media (max-width:1200px) {
    .cabeca{
        padding: 10% ;
    }
    .apresentacao{
        flex-direction: column-reverse; 
        padding: 5%;
    }  
    .linkcabeca{
        justify-content: center;
    }  
    .apresentacao__conteudo{
        width: auto;
    }
}

